* {
    margin: 0;
    padding: 0;
}

body {
    background: url("https://c1.wallpaperflare.com/preview/664/450/480/bookcase-chairs-clean-decor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    background-color: rgba(29, 185, 233, 0.30);
    width: 250px;
    height: 320px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 10px rgba(15, 26, 123, 0.75);
}

label {
    font-size: 15px;
    font-weight: bold;
    display: block;
    color: white;
}

input {
    background-color: rgba(0, 0, 0, 0.512);
    color: blue;
    border: none;
    width: 100%;
    padding: 12px 0;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 14px;
}

button {
    background-color: rgba(17, 67, 83, 0.777);
    width: 150px;
    height: 40px;
    border: 0;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 45px;
    margin-top: 10px;
}

button:hover {
    border: 1px solid black;
    background-color: teal;
}

table,
thead,
tr,
td {
    background-color: rgba(0, 0, 255, 0.204);
    width: 290px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid rgb(0, 136, 255);
    border-collapse: collapse;
    padding: 12px 10px;
    color: white;
}